.col-settings {
  font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-right: 1px solid #000;
  height : 100vh;
  background: #333; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#333, #111); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#333, #111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#333, #111); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#333, #111); /* Standard syntax */


  h1 {
    margin : 5px 0 0 0;
    font-weight : normal;
    font-size : 15px;
    padding : 0;
  }

  label {
    font-size : 12px;
    display : block;
  }

  .help {
    font-size : 11px;
    font-weight : 300;
    margin: 0;
    padding : 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    vertical-align : bottom;
    margin-top : 1px;
  }
}

