#context_target {
  &.hosts {
    .col-settings {
      min-height: 100px;
      border : 0;
    }
    .host-origin {
      min-height: 100px;
      border : 1px solid #333;
    }
    .host-destination {
      min-height: 100px;
      border : 1px solid #333;
    }
  }
}
